@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e0e0e0;
}

.page-input {
  @apply p-2 border bg-gray-300 outline-blue-400 w-full mt-2 rounded placeholder:text-sm;
}
.page-input ~ label {
  @apply uppercase text-sm mt-2;
}
.radio-togglers span {
  @apply bg-gray-200 p-2;
}

.radio-togglers input[type="radio"] {
  @apply hidden;
}

.radio-togglers input[type="radio"]:checked ~ span {
  @apply bg-white text-blue-500;
}
.radio-togglers input[type="radio"]:checked ~ span > span {
  @apply bg-white;
}

.uri-icons {
  @apply p-2 bg-white text-black rounded-full;
}

#nav:checked ~ #nav-bar {
  left: 0;
}

#nav:checked ~ #nav-bar > .backdrop {
  display: inline;
}

#bar:checked ~ .menu {
  display: block;
  transition: all;
}
.menu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s, max-height 0.3s;
}

#bar:checked ~ .menu {
  transition: opacity 0.5s, max-height 0.5s;
  opacity: 1;
  max-height: 1000px; /*Adjust to your menu's actual height*/
}

@keyframes slidIn {
  from {
    position: relative;
    left: -150px;
  }
  to {
    position: relative;
    left: 100%;
  }
}

.animation {
  display: inline-block;
  animation: slidIn infinite 8s linear;
}
